*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.offcanvas-container,
.offcanvas-pusher,
.offcanvas-content {
	height: 100%;
}

.offcanvas-content {
	overflow-y: scroll;
	background: #f3efe0;
}

.offcanvas-content,
.offcanvas-content-inner {
	position: relative;
}

.offcanvas-container {
	position: relative;
	overflow: hidden;
}

.offcanvas-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.offcanvas-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.offcanvas-menu-open .offcanvas-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.offcanvas-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #48a770;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.offcanvas-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.offcanvas-menu-open .offcanvas-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.offcanvas-menu ul {
	margin: 0;
	padding: 0;
	lioffcanvas-style: none;
}

.offcanvas-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.offcanvas-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.offcanvas-menu ul li:firoffcanvas-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.offcanvas-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Individual effects */

/* Effect 1: Slide in on top */
.offcanvas-effect-1.offcanvas-menu {
	visibility: visible;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.offcanvas-effect-1.offcanvas-menu-open .offcanvas-effect-1.offcanvas-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.offcanvas-effect-1.offcanvas-menu::after {
	display: none;
}

/* Effect 2: Reveal */
.offcanvas-effect-2.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-2.offcanvas-menu {
	z-index: 1;
}

.offcanvas-effect-2.offcanvas-menu-open .offcanvas-effect-2.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.offcanvas-effect-2.offcanvas-menu::after {
	display: none;
}

/* Effect 3: Push*/
.offcanvas-effect-3.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-3.offcanvas-menu {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.offcanvas-effect-3.offcanvas-menu-open .offcanvas-effect-3.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.offcanvas-effect-3.offcanvas-menu::after {
	display: none;
}

/* Effect 4: Slide along */
.offcanvas-effect-4.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-4.offcanvas-menu {
	z-index: 1;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}

.offcanvas-effect-4.offcanvas-menu-open .offcanvas-effect-4.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.offcanvas-effect-4.offcanvas-menu::after {
	display: none;
}

/* Effect 5: Reverse slide out */
.offcanvas-effect-5.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-5.offcanvas-menu {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}

.offcanvas-effect-5.offcanvas-menu-open .offcanvas-effect-5.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Effect 6: Rotate pusher */

.offcanvas-effect-6.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.offcanvas-effect-6 .offcanvas-pusher {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-6.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-250px, 0, 380px) rotateY(15deg);
	transform: translate3d(-250px, 0, 380px) rotateY(15deg);
}

.offcanvas-effect-6.offcanvas-menu {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-6.offcanvas-menu-open .offcanvas-effect-6.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(100%, 0, 0) rotateY(-15deg);
	transform: translate3d(100%, 0, 0) rotateY(-15deg);
}

.offcanvas-effect-6.offcanvas-menu::after {
	display: none;
}

/* Effect 7: 3D rotate in */

.offcanvas-effect-7.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
	overflow: hidden;
}

.offcanvas-effect-7 .offcanvas-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-7.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-7.offcanvas-menu {
	-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
	transform: translate3d(100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-7.offcanvas-menu-open .offcanvas-effect-7.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
	transform: translate3d(100%, 0, 0) rotateY(0deg);
}

/* Effect 8: 3D rotate out */

.offcanvas-effect-8.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.offcanvas-effect-8 .offcanvas-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-8.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-8.offcanvas-menu {
	-webkit-transform: translate3d(100%, 0, 0) rotateY(-120deg);
	transform: translate3d(100%, 0, 0) rotateY(-120deg);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-8.offcanvas-menu-open .offcanvas-effect-8.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
	transform: translate3d(100%, 0, 0) rotateY(0deg);
}

.offcanvas-effect-8.offcanvas-menu::after {
	display: none;
}

/* Effect 9: Scale down pusher */

.offcanvas-effect-9.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.offcanvas-effect-9 .offcanvas-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-9.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

.offcanvas-effect-9.offcanvas-menu {
	opacity: 1;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.offcanvas-effect-9.offcanvas-menu-open .offcanvas-effect-9.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.offcanvas-effect-9.offcanvas-menu::after {
	display: none;
}

/* Effect 10: Scale up */

.offcanvas-effect-10.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.offcanvas-effect-10.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-10.offcanvas-menu {
	z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

.offcanvas-effect-10.offcanvas-menu-open .offcanvas-effect-10.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Effect 11: Scale and rotate pusher */

.offcanvas-effect-11.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.offcanvas-effect-11 .offcanvas-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-11.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(10px, 0, -300px) rotateY(20deg);
	transform: translate3d(10px, 0, -300px) rotateY(20deg);
}

.offcanvas-effect-11.offcanvas-menu {
	opacity: 1;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.offcanvas-effect-11.offcanvas-menu-open .offcanvas-effect-11.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.offcanvas-effect-11.offcanvas-menu::after {
	display: none;
}

/* Effect 12: Open door */

.offcanvas-effect-12.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.offcanvas-effect-12 .offcanvas-pusher {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-12.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: rotateY(10deg);
	transform: rotateY(10deg);
}

.offcanvas-effect-12.offcanvas-menu {
	opacity: 1;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.offcanvas-effect-12.offcanvas-menu-open .offcanvas-effect-12.offcanvas-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.offcanvas-effect-12.offcanvas-menu::after {
	display: none;
}

/* Effect 13: Fall down */

.offcanvas-effect-13.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.offcanvas-effect-13.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-13.offcanvas-menu {
	z-index: 1;
	opacity: 1;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

.offcanvas-effect-13.offcanvas-menu-open .offcanvas-effect-13.offcanvas-menu {
	visibility: visible;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-speed: 0.2s;
	transition-speed: 0.2s;
}

/* Effect 14: Delayed 3D rotate */

.offcanvas-effect-14.offcanvas-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0% 50%;
	perspective-origin: 0% 50%;
}

.offcanvas-effect-14 .offcanvas-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-14.offcanvas-menu-open .offcanvas-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.offcanvas-effect-14.offcanvas-menu {
	-webkit-transform: translate3d(100%, 0, 0) rotateY(90deg);
	transform: translate3d(100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.offcanvas-effect-14.offcanvas-menu-open .offcanvas-effect-14.offcanvas-menu {
	visibility: visible;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translate3d(100%, 0, 0) rotateY(0deg);
	transform: translate3d(100%, 0, 0) rotateY(0deg);
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .offcanvas-pusher,
.no-js .offcanvas-pusher {
	padding-left: 300px;
}
